.reg-form {
    background: white;
    padding: 10px;
    border-radius: 8px;
}

button[type="submit"] {
    background-color: greenyellow;
    color: red;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

.Error{
    color: red;
    background-color: black;
    border: 1px solid darkred;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: bold;
}

.Success{
    color: blue;
    background-color: greenyellow;
    border: 4px solid black;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: bold;
}