.reg-form {
    padding: 10px;
    border-radius: 8px;
}

button[type="submit"] {
    background-color: transparent;
    color: rgb(0, 255, 255);
    border: 2px solid rgb(0, 255, 255);;
    border-radius: 8px;
    padding: 8px 24px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    
    box-shadow: 0 0 5px rgb(0, 255, 255), inset 0 0 5px rgb(0, 255, 255);
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: rgb(0, 255, 255);
    color: black;
    box-shadow: 0 0 20px rgb(0, 255, 255);
}

.EventInfo {
    background-color: rgba(200, 200, 200, 0.1);
    border: 1px solid rgba(0, 255, 255, 0.3);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    font-family:fantasy;
}

.EventInfo header{
    color: greenyellow;
}

.EventInfo p {
    color: rgb(0, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    border-left: 5px solid transparent;
    padding-left: 10px;
    transition: 0.3s;
}

.EventInfo p:hover {
    border-left: 5px solid rgb(0, 255, 255);
    color: #fff;
    text-shadow: 0 0 5px rgb(0, 255, 255);
}

h1
{
  color: rgb(0, 255, 255);
  text-shadow:
  0 0 5px rgb(0, 255, 255),
  0 0 20px rgb(0, 255, 255);
  text-transform: uppercase;
}
h3 {
    color: tomato;
    text-shadow:
        0 0 5px #000000,
        0 0 10px tomato,
        0 0 20px tomato;
}

.Error{
    color: red;
    background-color: black;
    border: 1px solid darkred;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: bold;
}

.Success{
    color: blue;
    background-color: greenyellow;
    border: 4px solid black;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-weight: bold;
}

.reg-form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.reg-form label{
    color: rgb(0, 255, 255);
    text-transform: uppercase;
    margin-bottom: 5px;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
}

.reg-form input[type="text"] {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(0, 255, 255);
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    transition: 0.3s;
}

.reg-form input[type="text"]:focus{
    border-color: rgb(0, 255, 255);
    box-shadow: 0 0 10px rgb(0, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
}